In [1]:
import pandas as pd
import numpy as np

In [177]:
data = pd.DataFrame({
    'client_id' : [5392, 9581, 7250, 8619, 6573],
    'amount' : [42331, 88420, 1714, 80572, 57549],
    'date' : [1558425830, 1585429536, 1585427761, 1585427077, 1585426290],
    'ff': [3, 4, 0, 0, 0],
    'rr': [0, 0, 0, 0, 0]
})

In [178]:
# data['g'] = (data.client_id+data.amount)/2

In [179]:
data

   client_id  amount        date  ff  rr
0       5392   42331  1558425830   3   0
1       9581   88420  1585429536   4   0
2       7250    1714  1585427761   0   0
3       8619   80572  1585427077   0   0
4       6573   57549  1585426290   0   0

In [180]:
# a = np.array(data['g'])

In [181]:
a

array([23861.5, 49000.5,  4482. , 44595.5, 32061. ])

In [207]:
# data['nonzeroval'] = data.replace(0, np.nan).bfill(1).iloc[:, 3]
data['nonzeroval'] =  data.apply(lambda x: x.iloc[x.null()[0][0]], axis=1)

AttributeError: 'Series' object has no attribute 'null'

In [205]:
data

   client_id  amount        date  ff  rr  nonzeroval
0       5392   42331  1558425830   3   0         NaN
1       9581   88420  1585429536   4   0         NaN
2       7250    1714  1585427761   0   0         NaN
3       8619   80572  1585427077   0   0         NaN
4       6573   57549  1585426290   0   0      6573.0