In [1]:
import pandas as pd

In [24]:
a = pd.DataFrame({'a': [23, 3, 4 ,5 , 4], 'b':[23, 4, 5, 3, 3], 'c': [2, 4, 5, 6, 8]})
a

    a   b  c
0  23  23  2
1   3   4  4
2   4   5  5
3   5   3  6
4   4   3  8

In [25]:
a['unique'] = a.apply(pd.Series.nunique, axis=1)

In [26]:
a

    a   b  c  unique
0  23  23  2       2
1   3   4  4       2
2   4   5  5       2
3   5   3  6       3
4   4   3  8       3

In [20]:
pd.Series(a.a)

0    2
1    3
2    4
3    5
4    4
Name: a, dtype: int64