In [7]:
import pandas as pd
import numpy as np

In [2]:
data = pd.DataFrame({
    'client_id' : [5392, 9581, 7250, 8619, 6573],
    'amount' : [42331, 88420, 1714, 80572, 57549],
    'date' : [1558425830, 1585429536, 1585427761, 1585427077, 1585426290]

})

In [3]:
data['g'] = (data.client_id+data.amount)/2

In [4]:
data

   client_id  amount        date        g
0       5392   42331  1558425830  23861.5
1       9581   88420  1585429536  49000.5
2       7250    1714  1585427761   4482.0
3       8619   80572  1585427077  44595.5
4       6573   57549  1585426290  32061.0

In [8]:
a = np.array(data['g'])

In [9]:
a

array([23861.5, 49000.5,  4482. , 44595.5, 32061. ])